*#*#
*.#*
*~
*flymake.rb
*.swp
*.tmproj
.DS_Store
thumbs.db
log/*.log
tmp/**/*
tmp/*
db/development_structure.sql
doc/api
doc/app
doc/plugins
db/schema.rb
public/uploads
public/uploads/**/*
public/files/**/*
public/reports/**/*
public/javascripts/cache
public/stylesheets/cache
public/rubyrun_rss/*
rubyrun/*
coverage/*
config/deploy.rb
config/database.yml
nbproject/*
