.DS_Store
thumbs.db
log/*.log
config/database.yml
tmp/**/*
tmp/*
db/development_structure.sql
doc/api
doc/app
doc/plugins
db/schema.rb
public/icons
public/uploads
public/uploads/**/*
public/files/**/*
*.tmproj
*.swp
coverage/*
files/**/*
*~
*flymake.rb
public/javascripts/cache
public/stylesheets/cache
tags
rubyrun/*
public/rubyrun_rss/*
*#*#
*.#*
config/deploy.rb
nbproject/*
