.block
  .content
    %h2.title Municipes
    .inner
      = simple_table_for @people, :name, :sex_text, :marital_text
      = will_paginate @people


- content_for :sidebar do
  .block
    %h3 Menu
    %ul.navigation
      %li= link_to image_tag('../images/icons/add.png', :class=>'img')+' Novo Registro', new_person_path
