.block
  .head
    %h2.title Municipes
  .content
    = simple_table_for @people, :name, :sex_text, :marital_text, :profession_state_text
    = will_paginate @people

- content_for :sidebar do
  = side_menu_for [{"#{image_tag('icons/add.png')} Novo Registro" => new_person_path}, {"Relatorio" => "/"}]
