.block
  .content
    .inner
      = show @person, :name, :sex_text, :state_text, :arrival_at, :profession_state_text
      = show @person, :profession, :income, :revenue, :marital_text, :born_at, :blood
    = link_to 'Edit', edit_person_path(@person)
    |
    = link_to 'Back', people_path
