<div class="block">
  <div class="content">
    <h2 class="title">Editais</h2>
    <div class="inner">
      <% for publication in @publications %>
        <div class="block">
          <h3> <%= link_to publication.title, publication %></h3>
          <div class="gray"> <%= publication.created_at %> </div>
          <div class="content">
            <%=h publication.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <% if current_user %>
    <div class="block">
      <h3>Menu</h3>
      <ul class="navigation">
        <li><%= link_to image_tag('../images/icons/add.png', :class=>'img')+' Criar Edital', new_publication_path %></li>
      </ul>
    </div>
  <% end %>
<% end %>
