<p>
  <b>Title:</b>
  <%=h @publication.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @publication.body %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>