<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><a href="#block-text">Info</a></li>
      <li><a href="#block-tables">Opcoes</a></li>
      <li><a href="#block-forms">Alertas</a></li>
      <li><a href="#block-messages">Estatisticas</a></li>
      <li class="active"><a href="#block-forms-2">Servidores</a></li>
      <li><a href="#block-lists">Permissoes</a></li>
      <li><a href="#block-lists">Backup</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">Opcoes</h2>
    <div class="inner">
      <form action="#" method="get" class="form">
        <div class="columns">
          <div class="column left">
            <div class="group">
              <label class="label">Cidade</label>
              <input type="text" class="text_field" />
            </div>
            <div class="group">
              <label class="label">Texto Boas Vindas</label>
              <textarea class="text_area" rows="10" cols="80"></textarea>
            </div>
          </div>
          <div class="column right">
            <div class="group">
              <label class="label">Select</label>
              <select><option value="1">Choose...</option></select>
            </div>
            <div class="group">
              <label class="label">Habilitar</label>
              <div>
                <input type="checkbox" name="checkbox" id="checkbox_1" class="checkbox" value="1" /> <label for="checkbox_1" class="checkbox">GIS</label>
              </div>
              <div>
                <input type="checkbox" name="checkbox" id="checkbox_2" class="checkbox" value="2" /> <label for="checkbox_2" class="checkbox">Modulos</label>
              </div>
            </div>
            <div class="group">
              <label class="label">Radio</label>
              <div>
                <input type="radio" name="radio" id="radio_1" class="checkbox" value="1" /> <label for="radio_1" class="radio">Option 1</label>
              </div>
              <div>
                <input type="radio" name="radio" id="radio_2" class="checkbox" value="2" /> <label for="radio_2" class="radio">Option 2</label>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="group navform">
          <input type="submit" class="button" value="Salvar &rarr;" /> ou <a href="/">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
