<p>
  <b>Hired at:</b>
  <%=h @official.hired_at %>
</p>

<p>
  <b>Post:</b>
  <%=h @official.post %>
</p>


<%= link_to 'Edit', edit_official_path(@official) %> |
<%= link_to 'Back', officials_path %>