.block
  .content
    %h2.title Licitacoes
    .inner
      = simple_table_for @procurements, :title
      = will_paginate @procurements
      .clear

- sidebar do
  = link "Novo Registro", new_procurement_path, :class => 'icon iadd'

