.block
  .head
    %h2.title Familias
  .content
    = simple_table_for @families, :name, :people_count
    = will_paginate @families

- content_for :sidebar do
  = side_menu_for [{"#{image_tag('icons/add.png')} Novo Registro" => new_family_path}, {"Relatorio" => "/"}]