.block
  .head
    %h2.title Familias
  .content
    = simple_table_for @families, :name, :people_count
    = will_paginate @families

- sidebar do
  = link "Novo Registro", new_family_path, :class => 'icon iadd'
  = link "Relatorio", "/"
