.icon { background-repeat: no-repeat !important; background-position: 2px center !important; padding-left: 20px !important; }
.iaccept { background-image: url(/images/icons/accept.png) !important; }
.iaccept_sm { background-image: url(/images/icons/accept_sm.png) !important; }
.iadd { background-image: url(/images/icons/add.png) !important; }
.iaddress { background-image: url(/images/icons/address.png) !important; }
.iasterisk { background-image: url(/images/icons/asterisk.png) !important; }
.iauction_hammer { background-image: url(/images/icons/auction_hammer.png) !important; }
.iballoon { background-image: url(/images/icons/balloon.png) !important; }
.iballoons { background-image: url(/images/icons/balloons.png) !important; }
.ibank { background-image: url(/images/icons/bank.png) !important; }
.ibell { background-image: url(/images/icons/bell.png) !important; }
.ibookmark { background-image: url(/images/icons/bookmark.png) !important; }
.ibooks { background-image: url(/images/icons/books.png) !important; }
.ibox { background-image: url(/images/icons/box.png) !important; }
.ibriefcase { background-image: url(/images/icons/briefcase.png) !important; }
.icalculator { background-image: url(/images/icons/calculator.png) !important; }
.icalendar { background-image: url(/images/icons/calendar.png) !important; }
.icamera { background-image: url(/images/icons/camera.png) !important; }
.icard { background-image: url(/images/icons/card.png) !important; }
.icard__exclamation { background-image: url(/images/icons/card__exclamation.png) !important; }
.icard__minus { background-image: url(/images/icons/card__minus.png) !important; }
.icard__plus { background-image: url(/images/icons/card__plus.png) !important; }
.icard_address { background-image: url(/images/icons/card_address.png) !important; }
.icards { background-image: url(/images/icons/cards.png) !important; }
.icards_address { background-image: url(/images/icons/cards_address.png) !important; }
.ichain { background-image: url(/images/icons/chain.png) !important; }
.ichain_unchain { background-image: url(/images/icons/chain_unchain.png) !important; }
.iclipboard { background-image: url(/images/icons/clipboard.png) !important; }
.iclipboard_empty { background-image: url(/images/icons/clipboard_empty.png) !important; }
.iclock { background-image: url(/images/icons/clock.png) !important; }
.iclock_fill { background-image: url(/images/icons/clock_fill.png) !important; }
.icolor { background-image: url(/images/icons/color.png) !important; }
.icross { background-image: url(/images/icons/cross.png) !important; }
.idatabase { background-image: url(/images/icons/database.png) !important; }
.idatabase_exclamation { background-image: url(/images/icons/database_exclamation.png) !important; }
.idelete { background-image: url(/images/icons/delete.png) !important; }
.idesativar { background-image: url(/images/icons/desativar.png) !important; }
.idisc { background-image: url(/images/icons/disc.png) !important; }
.idisc_arrow { background-image: url(/images/icons/disc_arrow.png) !important; }
.idisc_exclamation { background-image: url(/images/icons/disc_exclamation.png) !important; }
.idisc_pencil { background-image: url(/images/icons/disc_pencil.png) !important; }
.idiscs { background-image: url(/images/icons/discs.png) !important; }
.idrawer { background-image: url(/images/icons/drawer.png) !important; }
.idrill { background-image: url(/images/icons/drill.png) !important; }
.iedit { background-image: url(/images/icons/edit.png) !important; }
.ienvelope { background-image: url(/images/icons/envelope.png) !important; }
.ieraser { background-image: url(/images/icons/eraser.png) !important; }
.ierror { background-image: url(/images/icons/error.png) !important; }
.ifeed { background-image: url(/images/icons/feed.png) !important; }
.ifilm { background-image: url(/images/icons/film.png) !important; }
.iflag { background-image: url(/images/icons/flag.png) !important; }
.ifolder { background-image: url(/images/icons/folder.png) !important; }
.ifolder_open { background-image: url(/images/icons/folder_open.png) !important; }
.ifolder_open_document { background-image: url(/images/icons/folder_open_document.png) !important; }
.ifolder_open_image { background-image: url(/images/icons/folder_open_image.png) !important; }
.ifolder_zipper { background-image: url(/images/icons/folder_zipper.png) !important; }
.igear { background-image: url(/images/icons/gear.png) !important; }
.ihammer { background-image: url(/images/icons/hammer.png) !important; }
.iheart { background-image: url(/images/icons/heart.png) !important; }
.iheart_empty { background-image: url(/images/icons/heart_empty.png) !important; }
.iheart_half { background-image: url(/images/icons/heart_half.png) !important; }
.ihelp { background-image: url(/images/icons/help.png) !important; }
.ihome { background-image: url(/images/icons/home.png) !important; }
.iimage { background-image: url(/images/icons/image.png) !important; }
.iimages { background-image: url(/images/icons/images.png) !important; }
.iinbox { background-image: url(/images/icons/inbox.png) !important; }
.iinformation { background-image: url(/images/icons/information.png) !important; }
.ikey { background-image: url(/images/icons/key.png) !important; }
.ikey_disable { background-image: url(/images/icons/key_disable.png) !important; }
.iletter { background-image: url(/images/icons/letter.png) !important; }
.iletter_read { background-image: url(/images/icons/letter_read.png) !important; }
.ilifebuoy { background-image: url(/images/icons/lifebuoy.png) !important; }
.ilight_bulb_off { background-image: url(/images/icons/light_bulb_off.png) !important; }
.ilock { background-image: url(/images/icons/lock.png) !important; }
.ilock_unlock { background-image: url(/images/icons/lock_unlock.png) !important; }
.imagnifier { background-image: url(/images/icons/magnifier.png) !important; }
.imagnifier_zoom { background-image: url(/images/icons/magnifier_zoom.png) !important; }
.imagnifier_zoom_out { background-image: url(/images/icons/magnifier_zoom_out.png) !important; }
.imail { background-image: url(/images/icons/mail.png) !important; }
.imail_open { background-image: url(/images/icons/mail_open.png) !important; }
.imail_open_document { background-image: url(/images/icons/mail_open_document.png) !important; }
.imails { background-image: url(/images/icons/mails.png) !important; }
.imaps { background-image: url(/images/icons/maps.png) !important; }
.iminus { background-image: url(/images/icons/minus.png) !important; }
.imusic { background-image: url(/images/icons/music.png) !important; }
.inote { background-image: url(/images/icons/note.png) !important; }
.inotebook { background-image: url(/images/icons/notebook.png) !important; }
.ipaperclip { background-image: url(/images/icons/paperclip.png) !important; }
.ipill { background-image: url(/images/icons/pill.png) !important; }
.ipin { background-image: url(/images/icons/pin.png) !important; }
.ipipette { background-image: url(/images/icons/pipette.png) !important; }
.iplus { background-image: url(/images/icons/plus.png) !important; }
.iplus_small { background-image: url(/images/icons/plus_small.png) !important; }
.iprint { background-image: url(/images/icons/print.png) !important; }
.iprinter { background-image: url(/images/icons/printer.png) !important; }
.iprinter_empty { background-image: url(/images/icons/printer_empty.png) !important; }
.ipuzzle { background-image: url(/images/icons/puzzle.png) !important; }
.iquestion { background-image: url(/images/icons/question.png) !important; }
.ireport { background-image: url(/images/icons/report.png) !important; }
.iruby { background-image: url(/images/icons/ruby.png) !important; }
.iruler { background-image: url(/images/icons/ruler.png) !important; }
.isafe { background-image: url(/images/icons/safe.png) !important; }
.isave { background-image: url(/images/icons/save.png) !important; }
.iscrewdriver { background-image: url(/images/icons/screwdriver.png) !important; }
.islash { background-image: url(/images/icons/slash.png) !important; }
.istar { background-image: url(/images/icons/star.png) !important; }
.istar_empty { background-image: url(/images/icons/star_empty.png) !important; }
.itable { background-image: url(/images/icons/table.png) !important; }
.itables { background-image: url(/images/icons/tables.png) !important; }
.itelephone { background-image: url(/images/icons/telephone.png) !important; }
.itick { background-image: url(/images/icons/tick.png) !important; }
.itrophy { background-image: url(/images/icons/trophy.png) !important; }
.iwallet { background-image: url(/images/icons/wallet.png) !important; }
.iwand { background-image: url(/images/icons/wand.png) !important; }
.iwrench { background-image: url(/images/icons/wrench.png) !important; }
.icsv { background-image: url(/images/icons/doc/csv.png) !important; }
.idocument__arrow { background-image: url(/images/icons/doc/document__arrow.png) !important; }
.idocument__exclamation { background-image: url(/images/icons/doc/document__exclamation.png) !important; }
.idocument__minus { background-image: url(/images/icons/doc/document__minus.png) !important; }
.idocument__pencil { background-image: url(/images/icons/doc/document__pencil.png) !important; }
.idocument__plus { background-image: url(/images/icons/doc/document__plus.png) !important; }
.idocument_shred { background-image: url(/images/icons/doc/document_shred.png) !important; }
.idocument_text { background-image: url(/images/icons/doc/document_text.png) !important; }
.idocuments { background-image: url(/images/icons/doc/documents.png) !important; }
.idocuments__arrow { background-image: url(/images/icons/doc/documents__arrow.png) !important; }
.idocuments__exclamation { background-image: url(/images/icons/doc/documents__exclamation.png) !important; }
.idocuments__minus { background-image: url(/images/icons/doc/documents__minus.png) !important; }
.idocuments__pencil { background-image: url(/images/icons/doc/documents__pencil.png) !important; }
.idocuments__plus { background-image: url(/images/icons/doc/documents__plus.png) !important; }
.idocuments_text { background-image: url(/images/icons/doc/documents_text.png) !important; }
.iods { background-image: url(/images/icons/doc/ods.png) !important; }
.ipdf { background-image: url(/images/icons/doc/pdf.png) !important; }
.iprinter { background-image: url(/images/icons/doc/printer.png) !important; }
.ireport { background-image: url(/images/icons/doc/report.png) !important; }
.ixls { background-image: url(/images/icons/doc/xls.png) !important; }
.ixml { background-image: url(/images/icons/doc/xml.png) !important; }
.ichart_bar { background-image: url(/images/icons/graphs/chart_bar.png) !important; }
.ichart_curve { background-image: url(/images/icons/graphs/chart_curve.png) !important; }
.ichart_line { background-image: url(/images/icons/graphs/chart_line.png) !important; }
.ichart_pie { background-image: url(/images/icons/graphs/chart_pie.png) !important; }
