<fieldset>
<legend>Novo Setor</legend>

<% if session_user.adm == "SIM" %>
  <% @menu = 'home/menuAdm' %>
<% end %>
<br>

<%= error_messages_for :sector %>

<%= render :partial => @sector, :locals => {:button_name => "Gravar"} %>
<br>
<p align='right'>
  <br><%= tooltip link_to(image_tag('voltar.png', :border => 0), :action => 'index'), {:tooltip => 'Retornar.'} %>
  </p>

</fieldset>
