.block
  .head
    %h2.title Empresas
  .content
    = simple_table_for @groups, :name, :official_name, :kind_text
    = will_paginate @groups

- sidebar do
  = link "Novo Registro", new_group_path, :class => 'icon iadd'
  = link "Relatorio", "/"
