<fieldset>
<legend>Alteração de Senha</legend>

<%= error_messages_for :user %>

<%= render :partial => 'show_password', :locals => {:button_name => "Alterar"} %>
<br>

<p align='right'>
  <%= tooltip link_to(image_tag('voltar.png', :border => 0), :controller => :home, :action => 'index'), { :tooltip => 'Retornar.' } %>
</p>

</fieldset>