<div id="menuh">
<ul>
  <li><h2>Cadastros</h2>
    <ul>
      <li><%= link_to 'Setores', :controller => :sectors, :action => 'index' %></li>
      <li><%= link_to 'Usu치rios', :controller => :users, :action => 'index' %></li>
    </ul>
  </li>
</ul>

<ul>
  <li><h2>Relat칩rios</h2>
    <ul>
      <li><%= link_to 'Setores', :controller => :rel_adm, :action => 'rel_sectors' %></li>
      <li><%= link_to 'Usu치rios', :controller => :rel_adm, :action => 'rel_users' %></li>
    </ul>
  </li>
</ul>

<ul>
  <li><h2>M칩dulo ADM</h2>
</ul>

</div>