.block
  .content
    %h2.title Almoxarifado
    .inner
      = simple_table_for @storages, :amount, :unit, :value
      = will_paginate @storages

- sidebar do
  = link "Novo Registro", new_storage_path, :class => 'icon iadd'
  = link "Relatorio", "/"
