- semantic_form_for(@profession, :html => { :class => "form" }) do |f|
  = f.input :name, :input_html => { :size => 40 }
  = f.input :kind, :as => :select, :collection => Profession.get_kind_values
  .navform
    = f.submit "Salvar &rarr;", :class => "button"
    ou
    = link_to 'Cancelar', people_path