.block
  .head
    %h2.title Profissoes
  .content
    = simple_table_for @professions, :name, :kind_text, :person_count

- content_for :sidebar do
  = side_menu_for [{"#{image_tag('icons/add.png')} Novo Registro" => new_profession_path}, {"Relatorio" => "/"}]
