.block
  .content
    .inner
      %h3= @profession.name
      = show @profession, :kind_text, :people_count
    .navform
      = link_to 'Editar', edit_profession_path(@profession)
      |
      = link_to 'Voltar', professions_path
