<p>
  <b>Code:</b>
  <%=h @charter.code %>
</p>

<p>
  <b>Restrictions:</b>
  <%=h @charter.restrictions %>
</p>


<%= link_to 'Edit', edit_charter_path(@charter) %> |
<%= link_to 'Back', charters_path %>