<div class="block" id="block-lists">
  <div class="content">
    <h2 class="title">Sobre</h2>
    <div class="inner">
      <ul class="list">
        <li>
          <div class="left">
            <a href="http://www.ruby-lang.org/pt/"><img  src="images/logos/fireho.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <p> <b>Fireho.</b> Linguagem dinâmica, open source com foco na simplicidade e na produtividade. Tem uma sintaxe elegante de leitura natural e fácil escrita. </p>
          </div>
        </li>
      </ul>
    </div>
    <h2 class="title">Tecnologia</h2>
    <div class="inner">
      <ul class="list">
        <li>
          <div class="left">
            <a href="http://www.ruby-lang.org/pt/"><img  src="images/logos/ruby.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <p> <b>Ruby.</b> Linguagem dinâmica, open source com foco na simplicidade e na produtividade. Tem uma sintaxe elegante de leitura natural e fácil escrita. Proporciona produtividade nao igualada por outras linguagens. Vasta gama de bibliotecas e suporte disponiveis.</p>
          </div>
        </li>
        <li>
          <div class="left">
            <a href="http://www.rubyonrails.org"><img  src="images/logos/rails.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <p> <b> Ruby on Rails.</b> Framework gratuito que promete aumentar velocidade e facilidade no desenvolvimento de sites orientados a banco de dados (database-driven web sites), uma vez que é possível criar aplicações com base em estruturas pré-definidas. </p>
          </div>
        </li>
        <li>
          <div class="left">
            <a href="http://www.postgresql.org"><img  src="images/logos/postgres.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <p> <b> PostgreSQL.</b> Banco de dados objeto-relacional que tem as características de sistemas de bancos de dados comerciais tradicionais com melhoramentos encontrados nos sistemas SGBDs de próxima geração. PostgreSQL é livre e o código-fonte completo está disponível.</p>
          </div>
        </li>
        <li>
          <div class="left">
            <a href="http://postgis.refractions.net"><img  src="images/logos/postgis.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <p> <b> PostGIS. </b> Extensão espacial gratuita e de código fonte livre. Sua construção é feita sobre o sistema de gerenciamento de banco de dados objeto relacional (SGBDOR) PostgreSQL, que permite o uso de objetos GIS (Sistemas de Informação Geográfica) ser armazenado em banco de dados. PostGIS inclui suporte para índices espaciais GiST e R-Tree, além de funções para análise e processamento de objetos GIS. </p>
          </div>
        </li>

      </ul>
    </div>
    <h2 class="title">License</h2>
    <div class="inner">
      <ul class="list">
        <li>
          <div class="left">
            <a href="http://gplv3.fsf.org"><img  src="images/logos/gplv3.png" alt="avatar" /></a>
          </div>
          <div class="item">
            <p> <b> Licensed under GPLv3. </b> </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

