.block
  .content
    %h2.title Leis
    .inner
      - for law in @laws
        .block
          %h3=# link_to law.title, law
          .content=# law.body
        .gray=l law.created_at

      = will_paginate @laws

- content_for :sidebar do
  = side_menu_for [{"#{image_tag('icons/add.png')} Nova Lei" => new_law_path}, {"Anteriores" => "/"}]