.block
  .content
    %h2.title Leis
    .inner
      - for law in @laws
        .block
          %h3=# link_to law.title, law
          .content=# law.body
        .gray=l law.created_at

      = will_paginate @laws

- content_for :sidebar do
  - if current_user
    .block
      %h3 Menu
      %ul.navigation
        %li= link_to image_tag('../images/icons/add.png', :class=>'img')+' Criar Edital', new_law_path
